* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray;
    font-family: 'Work Sans', sans-serif;
}

.pageWrap {
    background-color: white;
    width: 720px;
    margin: 10px auto;
}

/* header */
header {
    padding: 20px;
}

/* / Logo / */
div.logo {
    display: inline-block;
}

h2 {
    display: inline-block;
    padding: 0px 20px;

}

img.logo {
    width: 30px;
    vertical-align: text-bottom;
}

/* / nav / */

nav {
    display: inline-block;
    float: right;
    vertical-align: center;
}


li {
    display: inline-block;
    padding: 0px 10px;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: lightslategray;
}


/* main */

section {
    padding: 20px 50px;
}

#video {
    padding: 5px;
    background-color: black;
    color: white;
    display: block;
    float: right;
    margin-right: 20px;
}

#video>img {
    width: 20px;
    vertical-align: -5px;
}

.pictures {
    display: block;
    box-sizing: border-box;
    margin: 50px 0px 0px 0px;
    padding: 0px;
    width: 720px;
}


.pictures::after {
    content: "";
    clear: both;
    display: table;
}



.teaser {
    background-color: lightgray;
    width: 230px;
    height: 400px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    margin-right: 15px;

}

.teaser1 {
    background-image: url(./assets/images/white-box.jpg);
    background-position: center;
    background-size: cover;
}

.teaser2 {
    background-image: url(./assets/images/room.jpg);
    background-position: left;
    background-size: cover;

}
.teaser3 {
    background-image: url(./assets/images/black-white.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 0px;

}


.teaser>p {

    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.pictures img {
    background-color: white;
    width: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 7px rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* footer */

footer {
    padding: 20px;
    text-align: center;
}